div.contenedor {
  text-align: left;
  /* Ruta relativa: Subimos una carpeta por cada "../" que pongamos */
  background-image: url("../../assets/img/shishita.jpg");
  padding: 130px;
  z-index: 1;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

h1, h2 {

  padding-left: 100px;

}

.enlaces a {
  text-decoration: none;
}

.enlaces img {
  height: 100px;
}

#header {
  color: red;
}

#header2 {
  color: yellowgreen;
}

.enlaces {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
