body {
  margin: 0;
}

div.contenedor {
  text-align: left;
  /* Ruta relativa: Subimos una carpeta por cada "../" que pongamos */
  background-image: url("../../assets/img/shishita.jpg");
  padding: 130px;
  z-index: 1;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

h1,
h2 {
  padding-left: 100px;
}

.enlaces a {
  text-decoration: none;
}

.enlaces img {
  height: 100px;
}

#header {
  color: red;
}

#header2 {
  color: yellowgreen;
}

/* .enlaces {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
} */

.enlaces {
  /* Si añadimos dos o mas reglas iguales, predomina la que esté más abajo, pues sobreescribe las anteriores  */
  position: fixed;
  position: sticky;
  top: 0;
  text-align: right;
}

nav {
  width: 100%;
  background-color: #202527b0;
  overflow: auto;
  position: sticky;
  top: 0;
}

nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: orangered;
}

footer {
  background-color: #202527b0;
  padding: 15px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  nav a {
    font-size: 0;
  }
  nav a i {
    font-size: initial;
  }
}

@media (min-width: 900px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

.columna2 {
  padding: 50px;
}

.columna-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 30px;
}

.icono1:hover {
  background-color: blue;
}
